:root {
  --display-2xl---regular: 72px;
--display-2xl---medium: 72px;
--display-2xl---semibold: 72px;
--display-2xl---bold: 72px;
--display-xl---regular: 60px;
--display-xl---medium: 60px;
--display-xl---semibold: 60px;
--display-xl---bold: 60px;
--display-lg---regular: 48px;
--display-lg---medium: 48px;
--display-lg---semibold: 48px;
--display-lg---bold: 48px;
--display-md---regular: 36px;
--display-md---medium: 36px;
--display-md---semibold: 36px;
--display-md---bold: 36px;
--display-sm---regular: 30px;
--display-sm---medium: 30px;
--display-sm---semibold: 30px;
--display-sm---bold: 30px;
--display-sm-----medium-italic: 30px;
--display-xs---regular: 24px;
--display-xs---medium: 24px;
--display-xs---semibold: 24px;
--display-xs---bold: 24px;
--display-xs---medium-italic: 24px;
--display-xs-----semibold-underlined: 24px;
--text-xl---regular: 20px;
--text-xl---medium: 20px;
--text-xl---semibold: 20px;
--text-xl---bold: 20px;
--text-xl---regular-italic: 20px;
--text-xl---medium-italic: 20px;
--text-xl---semibold-italic: 20px;
--text-xl---bold-italic: 20px;
--text-xl-----regular-underlined: 20px;
--text-xl-----medium-underlined: 20px;
--text-lg---regular: 18px;
--text-lg---medium: 18px;
--text-lg---semibold: 18px;
--text-lg---bold: 18px;
--text-lg---regular-italic: 18px;
--text-lg---medium-italic: 18px;
--text-lg---semibold-italic: 18px;
--text-lg---bold-italic: 18px;
--text-lg---regular-underlined: 18px;
--text-lg-----medium-underlined: 18px;
--text-md---regular: 16px;
--text-md---medium: 16px;
--text-md---semibold: 16px;
--text-md---bold: 16px;
--text-md---regular-italic: 16px;
--text-md---medium-italic: 16px;
--text-md---semibold-italic: 16px;
--text-md---bold-italic: 16px;
--text-md-----regular-underlined: 16px;
--text-sm---regular: 14px;
--text-sm---medium: 14px;
--text-sm---semibold: 14px;
--text-sm-----bold: 14px;
--text-xs---regular: 12px;
--text-xs---medium: 12px;
--text-xs---semibold: 12px;
--text-xs-----bold: 12px;
@codetann
Comment

}